In [1]:
1+1

2

In [2]:
2-1

1

In [3]:
3*5

15

In [4]:
2 + 3 +4

9

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
10 % 3

1

In [8]:
12 % 5

2

In [9]:
var = 2

In [10]:
var

2

In [11]:
print(var)

2

In [12]:
"I can't go"

"I can't go"

In [13]:
'I can\'t go'

"I can't go"

In [14]:
num = 12
name = 'sam'

In [15]:
'my number is {} and name is {}'.format(num,name)

'my number is 12 and name is sam'

In [16]:
'my number is {one} and name is {two}'.format(one=num,two=name)

'my number is 12 and name is sam'

In [17]:
s = 'hello'

In [18]:
s[4]

'o'

In [19]:
s[0]

'h'

In [20]:
s[0:]

'hello'

In [21]:
s[:]

'hello'

In [22]:
s[:3]

'hel'

In [23]:
s[3:]

'lo'

In [24]:
s[2:5]

'llo'

In [25]:
mylist = ['a','b','c']

In [26]:
mylist

['a', 'b', 'c']

In [27]:
mylist.append('d')

In [28]:
mylist

['a', 'b', 'c', 'd']

In [29]:
mylist[0]

'a'

In [30]:
mylist[1:3]

['b', 'c']

In [31]:
mylist[0] = 'New'

In [32]:
mylist

['New', 'b', 'c', 'd']

In [34]:
nest = [1,2,[3,4]]

In [35]:
nest

[1, 2, [3, 4]]

In [36]:
nest[2]

[3, 4]

In [37]:
nest[2][1]

4

In [38]:
d = {'key1':'value','key2':123}

In [39]:
d['key1']

'value'

In [40]:
d['key2']

123

In [42]:
{1,1,1,2,2,3,3,3,3,4}

{1, 2, 3, 4}

In [43]:
set([1,1,2,2,3,3,3,3,4,4,5,5,6])

{1, 2, 3, 4, 5, 6}

In [44]:
s = {1,2,3}

In [45]:
s.add(5)

In [46]:
s

{1, 2, 3, 5}

In [47]:
1 == 1

True

In [48]:
1 != 3

True

In [49]:
1 <= 2

True

In [50]:
2 >= 3

False

In [51]:
1 > 2 and 2 > 3

False

In [52]:
(1 < 2) or (2 > 3)

True

In [53]:
if 1 < 2:
    print('yep!')

yep!

In [54]:
if 1 == 2:
    print('first')
else:
    print('last')

last

In [55]:
if 1 == 2:
    print('first')
elif 4 == 4:
    print('second')
else:
    print('last')

second

In [56]:
seq = [1,2,3,4,5]

In [57]:
for num in seq:
    print(num)

1
2
3
4
5

In [60]:
for num in seq:
    if num > 2:
        print(num)
        
for num in seq:
    if num > 2:
        print(num)
    else:
        print('too smoll')

3
4
5
too smoll
too smoll
3
4
5

In [61]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [67]:
range(0,10,2)

range(0, 10, 2)

In [68]:
range(0,5)

range(0, 5)

In [64]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [69]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [70]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
x = [1,2,3,4]

In [72]:
out = []

for num in x:
    out.append(num*2)

In [125]:
print(out)

[1, 4, 9, 16]

# list comprehension

In [74]:
[num **2 for num in x]

[1, 4, 9, 16]

In [75]:
out = [num **2 for num in x]

In [76]:
out

[1, 4, 9, 16]

In [78]:
def square(num):
    return num**2

In [79]:
output = square(2)

In [80]:
output

4

In [81]:
def times2(var):
    return var*2

times2(5)

10

In [82]:
seq = list(range(1,6))

In [83]:
seq

[1, 2, 3, 4, 5]

In [84]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

# lambda function

In [86]:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [89]:
list(filter(lambda num: num % 2 == 0, seq))

[2, 4]

In [90]:
s = 'hello my name is sam'

In [91]:
s.split()

['hello', 'my', 'name', 'is', 'sam']

In [92]:
s.upper()

'HELLO MY NAME IS SAM'

In [93]:
s.lower()

'hello my name is sam'

In [94]:
tweet = 'go sports! #sports'

In [95]:
tweet.split('#')

['go sports! ', 'sports']

In [97]:
d = {'k1':1,'k2':2}

In [98]:
d

{'k1': 1, 'k2': 2}

In [99]:
d.keys()

dict_keys(['k1', 'k2'])

In [100]:
d.values()

dict_values([1, 2])

In [101]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [104]:
lst = list(range(0,5))

In [106]:
lst

[0, 1, 2, 3, 4]

In [107]:
lst.pop()

4

In [108]:
lst

[0, 1, 2, 3]

In [109]:
lst.append(4)

In [110]:
lst

[0, 1, 2, 3, 4]

In [111]:
x in lst

False

In [114]:
'x' in ['x','y','z']

True

In [117]:
x = [(1,2),(3,4),(5,6)]

In [121]:
x[0]

(1, 2)

In [122]:
x[0][1]

2

# tuple unpacking

In [123]:
for item in x: print(item)

(1, 2)
(3, 4)
(5, 6)

In [124]:
[print(item) for item in x]

(1, 2)
(3, 4)
(5, 6)

[None, None, None]

In [126]:
[print(a) for (a,b) in x]

1
3
5

[None, None, None]

In [127]:
[print(b) for (a,b) in x]

2
4
6

[None, None, None]

In [128]:
[print(a,b) for (a,b) in x]

1 2
3 4
5 6

[None, None, None]

In [129]:
for (a,b) in x:
    print(b*2)

4
8
12

In [131]:
for a,b in x:
    print(b*2)

4
8
12